<h1><%= @restaurant.name %></h1>
<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @restaurant.phone_number %>
</p>

<p>
  <strong>Reviews:</strong>
  <ul>
    <% @restaurant.reviews.each do |review| %>
      <li><strong>Shout:</strong> <%= review.content %></li>
      <li><strong>Rating:</strong> <%= review.rating %></li>
    <% end %>
    <hr />
  </ul>
</p>

<p><%= link_to "Drop a review", new_restaurant_review_path(@restaurant) %></p>

<p><%= link_to "Back to restaurants", restaurants_path %></p>
